.logo_mobile_black{
    width: 112px;
    height: 66px;
    margin-top: 21px;
}
.header-bottom{
    display: flex;
    margin-top: 97px;
    margin-left: 121px;
}
.navs{
    display: flex;
    width: 240px ;
  

}

.globe{
    width: 22px;
    height: 21px;
}
.header-p{
    width: 130px;
    height: 32px;
    font-weight: 400;
    font-size: 20px;
    align-items: flex-end;
}
.img_135744{
    width: 22px;
    height: 22px;
}
.calendar_2{
    width: 20px;
    height: 22px;
}

body{
    background-color: red;
}