

body{
    background-color: white;
}
.proqramma{
    width: 905px;
    height: 93px;
    font-weight: 700;
    font-size: 55px;
}
.prqramma-footer{
    display: flex;
    flex-wrap: wrap;
}
.proqramma-elements{
    width: 399px;
    height: 328px;
    border-radius: 30px;
    background-color: white;
    margin-right: 37px;
    margin-bottom: 41px;
    box-shadow: 0 0 10px #00000040;
}
.proqramma-elements h3{
    font-weight: 700;
    font-size: 30px;
    margin-top: 11px;
    margin-left: 20px;
}
.proqramma-elements p{
    font-weight: 400;
    font-size: 25px;
    margin-left: 19px;
    width: 365px;
    margin-bottom: 23px;
}
.last p{
margin-top: -30px;
}